@using GuedesTime.MVC.Models
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model GuedesTime.MVC.ViewModels.InstituicaoViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<script src="~/js/site.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/detalhes.css" asp-append-version="true" />

<div class="instituicao-container">
    <div class="w-full max-w-5xl">


        <div class="progresso-container" style="text-align: center; margin-bottom: 20px;">
            <h3 style="margin-bottom: 10px;">Progressão do Cadastro</h3>

            <div style="background-color: #e0e0e0; border-radius: 5px; width: 100%; height: 24px; position: relative;">
                <div style="background-color: #1E3A8A; height: 100%; width: @ViewBag.Progresso%; border-radius: 5px;
                    position: relative; display: flex; align-items: center; justify-content: center;">
                    <span style="color: white; font-weight: bold;">@ViewBag.Progresso%</span>
                </div>
            </div>

            @if (ViewBag.ProximaEtapa != null)
            {
                <p style="margin-top: 12px;">
                    Para continuar, cadastre as <strong>@ViewBag.ProximaEtapa</strong>.
                    <a href="@Url.Action((string)ViewBag.ProximaEtapa, "Instituicao", new { id = ViewBag.InstituicaoId })"
                       style="color: #1E3A8A; font-weight: bold; text-decoration: underline; margin-left: 5px;">
                        Clique aqui para cadastrar!
                    </a>
                </p>
            }
        </div>


        <div class="info-instituicao">
            <div class="flex flex-col md:flex-row justify-between items-center w-full gap-6">
                <div class="text-center md:text-left">
                    <h2 class="text-2xl font-bold">@Model.Nome</h2>
                    <img src="@Model.Avatar" alt="Avatar" class="detalhes-instituicao-avatar">
                    <br />
                    <br />
                    <p class="text-sm text-gray-500">CNPJ: @Model.Cnpj</p>
                    <p class="text-sm text-gray-500">Código CIE: @Model.CodigoCie</p>
                    <p class="text-sm text-gray-500">Ativo: @(Model.Ativo.HasValue && Model.Ativo.Value ? "Sim" : "Não")</p>
                    <p class="text-sm text-gray-500">Responsável: @ViewBag.Nome</p>
                </div>
            </div>
        </div>

        <!-- Endereço -->
        <div class="info-instituicao">
            <hr class="divisoria" />
            <h4 class="flex items-center text-lg font-semibold mb-2">
                Endereço
                <button type="button" class="btn-toggle ml-auto" onclick="toggleSection('endereco-container', this)">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </h4>
            <div id="endereco-container" style="display: block;">
                <div class="text-center md:text-left">
                    <br />
                    <br />
                    <p class="text-sm text-gray-500">@Model.Endereco.Logradouro, @Model.Endereco.Numero @Model.Endereco.Complemento</p>
                    <p class="text-sm text-gray-500">Bairro: @Model.Endereco.Bairro</p>
                    <p class="text-sm text-gray-500">Cidade: @Model.Endereco.Cidade - @Model.Endereco.Estado</p>
                    <p class="text-sm text-gray-500">CEP: @Model.Endereco.Cep</p>
                </div>
            </div>
        </div>

        <!-- Disciplinas -->
        <style>
            #disciplina-container {
                display: none;
                transition: opacity 0.3s ease-in-out;
            }

                #disciplina-container.show {
                    display: block;
                    opacity: 1;
                }

        </style>
        <div class="info-instituicao">
            <hr class="divisoria" />
            <h4 class="flex items-center text-lg font-semibold mb-2">
                <a href="@Url.Action("Index", "Disciplina", new { id = Model.Id })"
                   class="text-blue-600 hover:underline">
                    Disciplinas
                </a>
                <button type="button" class="btn-toggle ml-auto" onclick="toggleSection('disciplinas-container', this)">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </h4>
            <div id="disciplinas-container" style="display: block;">
                <br />
                <br />
                <div class="text-center md:text-left">
                    @if (Model.Disciplinas?.Any() == true)
                    {
                        @foreach (var disc in Model.Disciplinas.Take(10))
                        {

                            <h5 class="text-sm font-semibold">@disc.Nome</h5>
                            <div class="space-x-2 mt-2 text-sm">
                                <a href="javascript:void(0);" onclick="openEditDisciplinaModal('@Model.Id', '@disc.Id')" class="btn btn-light text-primary btn-hover">
                                    <i class="fas fa-edit"></i> Editar
                                </a>

                                <form action="@Url.Action("Delete", "Disciplina", new { instituicaoId = Model.Id, id = disc.Id })" method="post" style="display:inline;">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-light text-danger btn-hover" onclick="return confirm('Tem certeza que deseja excluir esta disciplina?');">
                                        <i class="fas fa-trash-alt"></i> Excluir
                                    </button>
                                </form>
                            </div>

                            <br />
                            

                        }
                        @if (Model.Disciplinas.Count > 10)
                        {
                            <div class="mt-3">
                                <a href="@Url.Action("Index", "Disciplina", new { instituicaoId = Model.Id })" class="text-blue-600 hover:underline">... Ver todas as Disciplinas</a>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="text-gray-500">Nenhuma disciplina cadastrada.</p>
                    }

                    <div class="mt-4">
                        <a href="javascript:void(0);" onclick="openDisciplinaModal()" class="text-blue-600 hover:underline text-sm">
                            Cadastrar Disciplina
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Incluir a partial view do modal de disciplina -->
        <div class="modal fade" id="disciplinaModal" tabindex="-1" aria-labelledby="disciplinaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" id="modal-disciplina-body">
                </div>
            </div>
        </div>

        <!-- Séries -->
        <div class="info-instituicao">
            <hr class="divisoria" />
            <h4 class="flex items-center text-xl font-bold mb-2">
                Séries
                <button type="button" class="btn-toggle ml-auto" onclick="toggleSection('series-container', this)">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </h4>
            <div id="series-container" style="display: block;">
                <br />
                <br />
                <div class="text-center md:text-left">
                    @if (Model.Series?.Any() == true)
                    {
                        <ul class="list-disc list-inside">
                            @foreach (var serie in Model.Series)
                            {
                                <li class="flex items-center justify-between">
                                    <span>@serie.Nome</span>
                                    <div class="space-x-2">
                                        <a href="@Url.Action("Upsert", "Serie", new { id = serie.Id })"
                                           class="text-blue-600 hover:underline">Editar</a>
                                        <a href="@Url.Action("Delete", "Serie", new { id = serie.Id })"
                                           class="text-red-600 hover:underline"
                                           onclick="return confirm('Tem certeza que deseja excluir esta série?');">Excluir</a>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="text-gray-500">Nenhuma série cadastrada.</p>
                        @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.UsuarioId.ToString())
                        {
                            <br />
                            <a href="@Url.Action("Upsert", "Serie", new { instituicaoId = Model.Id, id = (Guid?)null })"
                               class="text-blue-600 hover:underline">Cadastrar Série</a>
                        }
                    }
                </div>
            </div>
        </div>

        <!-- Turmas -->
        <div class="info-instituicao">
            <hr class="divisoria" />
            <h4 class="flex items-center text-xl font-bold mb-2">
                Turmas
                <button type="button" class="btn-toggle ml-auto" onclick="toggleSection('turmas-container', this)">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </h4>
            <div id="turmas-container" style="display: block;">
                <br />
                <br />
                <div class="text-center md:text-left">
                    @if (Model.Turmas?.Any() == true)
                    {
                        <ul class="list-disc list-inside">
                            @foreach (var turma in Model.Turmas)
                            {
                                <li>@turma.Nome (@turma.Ano)</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="text-gray-500">Nenhuma turma cadastrada.</p>
                        @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.UsuarioId.ToString())
                        {
                            <a href="@Url.Action("Criar", "Turma", new { instituicaoId = Model.Id })" class="text-blue-600 hover:underline">Cadastrar Turmas</a>
                        }
                    }
                </div>
            </div>
        </div>

        <!-- Professores -->
        <div class="info-instituicao">
            <hr class="divisoria" />
            <h4 class="flex items-center text-xl font-bold mb-2">
                Professores
                <button type="button" class="btn-toggle ml-auto" onclick="toggleSection('professores-container', this)">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </h4>
            <div id="professores-container" style="display: block;">
                <br />
                <br />
                <div class="text-center md:text-left">
                    @if (Model.Professores?.Any() == true)
                    {
                        <ul class="list-disc list-inside space-y-2">
                            @foreach (var prof in Model.Professores)
                            {
                                <li class="flex items-center justify-between">
                                    <span>@prof.Nome - @prof.Email</span>
                                    <span>@prof.Telefone - @prof.Telefone</span>
                                    <span>@prof.Email - @prof.Email</span>
                                    <div class="space-x-2">
                                        <a href="@Url.Action("Upsert", "Professor", new { id = prof.Id })"
                                           class="text-blue-600 hover:underline">Editar</a>
                                        <a href="@Url.Action("Delete", "Professor", new { id = prof.Id })"
                                           class="text-red-600 hover:underline"
                                           onclick="return confirm('Tem certeza que deseja excluir este professor?');">Excluir</a>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="text-gray-500">Nenhum professor cadastrado.</p>
                        @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.UsuarioId.ToString())
                        {
                            <br />
                            <a href="@Url.Action("Upsert", "Professor", new { instituicaoId = Model.Id, id = (Guid?)null })" class="text-blue-600 hover:underline">Cadastrar Professores</a>
                        }
                    }

                </div>
            </div>
        </div>

        <!-- Salas -->
        <div class="info-instituicao">
            <hr class="divisoria" />
            <h4 class="flex items-center text-xl font-bold mb-2">
                Salas
                <button type="button" class="btn-toggle ml-auto" onclick="toggleSection('salas-container', this)">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </h4>
            <div id="salas-container" style="display: block;">
                <br />
                <br />
                <div class="text-center md:text-left">
                    @if (Model.Salas?.Any() == true)
                    {
                        <ul class="list-disc list-inside">
                            @foreach (var sala in Model.Salas)
                            {
                                <li>@sala.Nome - Capacidade: @sala.Capacidade</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="text-gray-500">Nenhuma sala cadastrada.</p>
                        @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.UsuarioId.ToString())
                        {
                            <a href="@Url.Action("Criar", "Sala", new { instituicaoId = Model.Id })" class="text-blue-600 hover:underline">Cadastrar Salas</a>
                        }
                    }
                </div>
            </div>
        </div>

        <script>
            function openDisciplinaModal() {
                $.get("/Disciplina/UpsertPartial", { instituicaoId: '@Model.Id' }, function (html) {
                    $("#modal-disciplina-body").html(html);
                    const modal = new bootstrap.Modal(document.getElementById('disciplinaModal'));
                    modal.show();
                    inicializarEventosModal();
                });
            }

            function openEditDisciplinaModal(instituicaoId, disciplinaId) {
                debugger
                $.get("/Disciplina/UpsertPartial", { instituicaoId: instituicaoId, id: disciplinaId }, function (html) {
                    $("#modal-disciplina-body").html(html);
                    const modal = new bootstrap.Modal(document.getElementById('disciplinaModal'));
                    modal.show();
                    inicializarEventosModal();
                });
            }

            function closeModal() {
                const modalElement = document.getElementById('disciplinaModal');
                const modal = bootstrap.Modal.getInstance(modalElement);
                if (modal) {
                    modal.hide();
                }
            }

            function inicializarEventosModal() {

                ValidarNome();

            }
        </script>

    </div>
</div>